<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<servlet>
		<servlet-name>RcpServlet</servlet-name>
		<servlet-class>com.spring.controller.RcpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RcpServlet</servlet-name>
		<url-pattern>/recipe/recipe.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RecipePhotoRead</servlet-name>
		<servlet-class>tool.RecipePhotoRead</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecipePhotoRead</servlet-name>
		<url-pattern>/RcpPhotoRead/RcpPhotoRead.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListOneRecipeRead</servlet-name>
		<servlet-class>tool.ListOneRecipeRead</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListOneRecipeRead</servlet-name>
		<url-pattern>/ListOneRecipeRead/ListOneRecipeRead.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>createTableServlet</servlet-name>
		<servlet-class>com.test.createTableServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createTableServlet</servlet-name>
		<url-pattern>/createTableServlet/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateGroupServlet</servlet-name>
		<servlet-class>com.test.CreateGroupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateGroupServlet</servlet-name>
		<url-pattern>/CreateGroupServlet/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StepUploadServlet</servlet-name>
		<servlet-class>com.upload.StepUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StepUploadServlet</servlet-name>
		<url-pattern>/StepUploadServlet/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>createStepBlockServlet</servlet-name>
		<servlet-class>com.spring.controller.createStepBlockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createStepBlockServlet</servlet-name>
		<url-pattern>/createStepBlockServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MainPicUploadServlet</servlet-name>
		<servlet-class>com.upload.MainPicUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainPicUploadServlet</servlet-name>
		<url-pattern>/MainPicUploadServlet</url-pattern>
	</servlet-mapping>


</web-app>